body{
    background-color: #1a1b1f;
    color: whitesmoke;
}
header{
    background-color: #1a1b1f;
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
}


footer{
    background-color: #1a1b1f;
    color: whitesmoke;
}

a{
    color: white;
}

hr{
    color: white;
}