body{
    background-color:cyan ;
}

header{
    padding: 5px;
    background-color: rgb(199, 247, 213);
    font-size: xx-large;
    color: black;
    text-align: center;
}


footer{
    padding: 5%;
    background-color: cyan;
    font-size: xx-large;
    color: black;
    text-align: center;
}

table,th,tr,td{
    margin: auto;
    border-collapse: collapse;
    border: 2px solid;
    padding: 2px;
    text-align: center;
    background-color:aliceblue;
    font-size: small;
}

#CC_Total{
    font-size: medium;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
}